*{
    margin: 0;
    padding: 0;
    font-family: 'Sora', sans-serif;
}
body{
    background-color: #ffa66b;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffa66b;
    height: 100vh;
}

.container .img{
    padding: 1rem;
    margin-left: -4rem;
}

img{
    width: 110%;
}

.container .java{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.container .java h2{
    line-height: 3rem;
    font-size: 42px;
    color: #f9ede6;
    text-align: center;
    padding: 2rem;
}

.container .java button{
    width: 50%;
    height: 3.2rem;
    background-color: #303545;
    border: none;
    color: #f9ede6;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 2px 4px#ffa66b;
}

form{
    background: linear-gradient(90deg, #f9ede6 68%, #303545 40%);
    padding: 4rem 6rem;
}

form h2{
    margin-left: 20rem;
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 40px;
    color: #303545;
}

form p{
    margin-left: 2rem ;
    color: #303545;
    line-height: 1.3rem;
}

form .quiz{
    margin-left: -0.5rem;
}

input[name="question1"]{
    accent-color: #ffa66b;
}

input[name="question2"]{
    accent-color: #ffa66b;
}

input[name="question3"]{
    accent-color: #ffa66b;
}

input[name="question4"]{
    accent-color: #ffa66b;
}

input[name="question5"]{
    accent-color: #ffa66b;
}